# Modeling Exercises

Using the data on student grades from this lesson, complete the following:

In [8]:
# Imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, explained_variance_score
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE

import wrangle

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("student_grades.csv")
df.head()

   student_id  exam1  exam2 exam3  final_grade
0           1  100.0     90    95           96
1           2   98.0     93    96           95
2           3   85.0     83    87           87
3           4   83.0     80    86           85
4           5   93.0     90    96           97

In [3]:
df.dtypes

student_id       int64
exam1          float64
exam2            int64
exam3           object
final_grade      int64
dtype: object

In [4]:
df.drop(columns='student_id')

     exam1  exam2 exam3  final_grade
0    100.0     90    95           96
1     98.0     93    96           95
2     85.0     83    87           87
3     83.0     80    86           85
4     93.0     90    96           97
..     ...    ...   ...          ...
99    70.0     65    78           77
100   62.0     70    79           70
101   58.0     65    70           68
102   57.0     65    75           65
103   70.0     75    78           72

[104 rows x 4 columns]

In [5]:
df.isnull().sum()

student_id     0
exam1          1
exam2          0
exam3          0
final_grade    0
dtype: int64

In [10]:
df = df.dropna()

In [11]:
df.isnull().sum()

student_id     0
exam1          0
exam2          0
exam3          0
final_grade    0
dtype: int64

In [21]:
df = df.drop(columns='exam3')

In [22]:
df.dtypes

student_id       int64
exam1          float64
exam2            int64
final_grade      int64
dtype: object

### 1. Split the data into train, validate, and test datasets.

In [23]:
# split into train, validate, and test sets
train_and_validate, test = train_test_split(df, random_state=123)
train, validate = train_test_split(train_and_validate, random_state=123)

In [24]:
# Split into X and y
X_train = train.drop(columns='final_grade')
y_train = train[['final_grade']]

# Validate split
X_validate = validate.drop(columns='final_grade')
y_validate = validate[['final_grade']]

# Test split
X_test = test.drop(columns='final_grade')
y_test = test[['final_grade']]

### Create a baseline

In [25]:
# Mean Baseline
np.mean(y_train)

final_grade    80.842105
dtype: float64

In [26]:
# Median Baseline
np.median(y_train)

81.0

In [29]:
from sklearn.metrics import mean_squared_error

baseline_rmse = mean_squared_error(y_train, np.full(57, np.mean(y_train)))**1/2

### 2. Create a model that uses exam 1 to predict the final grade.

### Linear Regression

- Fit model

In [30]:
lm= LinearRegression(normalize=True)
lm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

- Predict our training observations

In [31]:
lm_pred = lm.predict(X_train)

- Evaluate our training predictions

In [32]:
lm_rmse = mean_squared_error(y_train, lm_pred)**1/2
lm_rmse

1.5663907504364638

- Predict our validation observations

In [33]:
lm_pred_v = lm.predict(X_validate)

- Evaluate our validation predictions

In [34]:
lm_rmse_v = mean_squared_error(y_validate, lm_pred_v)**1/2
lm_rmse_v

1.8326832117921952

### 3. Create a model that uses exam 2 to predict the final grade.

### Linear Regression

- Fit model

In [ ]:
lm= LinearRegression(normalize=True)
lm.fit(X_train, y_train)

- Predict our training observations

In [ ]:
lm_pred = lm.predict(X_train)

- Evaluate our training predictions

In [ ]:
lm_rmse = mean_squared_error(y_train, lm_pred)**1/2
lm_rmse

- Predict our validation observations

In [ ]:
lm_pred_v = lm.predict(X_validate)

- Evaluate our validation predictions

In [ ]:
lm_rmse_v = mean_squared_error(y_validate, lm_pred_v)**1/2
lm_rmse_v

### 4. Compare your models in the following manner:
- Calculate the mean squared error
- Visualize the residuals. Create a seperate visualization for each model.
- Visualize the actual vs the predicted values. Create a seperate visualization for each model.
- Bonus: Combine the seperate visualizations for each model into a single visualization. Is this visual helpful?

### 5. Create a model that uses exam 1 and exam 3 to predict final grade. How does this model compare to your previous ones?

### 6. Take your best preforming model and measure its performance on the validate data set. How does the performance differ between train and validate?

### 7. Make a 4th model with a slight difference like one more/less feature or a single hyperparameter that's different to see if you can beat that the last model's performance on validate.

### 8. Tune your models using validate to improve performance. Select the model w/ the best performance and evaluate that one on test, to get a more clear understanding of how it will perform on out-of-sample data.